<!doctype html>
<form method="post" enctype="multipart/form-data">
  <p>
    <label for="text">MIOpenDriver to pdb keys</label>
  </p>
  <div class="multiline" id="keys" name="keys">
  <text>Driver cmd: {{ driver }}</text>
  <br>
  <text>Config ID: {{ config_id }}</text>
  <br><br>
    {% for key, value in result.items() %}
      <h2>Key</h2>
      <text> {{key}}</text>
      {% if value is iterable%}
        <h3>Values</h3>
        {% for elem in value%}
          <text>{{ elem }}</text>
          <br><br>
        {% endfor %}
      {% else %}
        <h3>Value</h3>
        <text>{{ value }}</text>
        <br><br>
      {%endif%}
    {% endfor %}
  </div>
</form>
